<div class="message-container" id="message-<%= message.id %>">
  <div class="div-avatar-chat">
    <%= cl_image_tag current_user.photo.key, height: 40, width: 40, id: "chat-avatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  </div>
  <p><%= message.content %></p>
  <i class="author">
    <span><%= message.user.email %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
</div>
