<div class="container">

  <h2>Modification de <%= @current_user.first_name %> <%= @current_user.last_name %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="top-user">

    <div class="user-security">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
      hint: "leave it blank if you don't want to change it",
      required: false,
      input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
      required: false,
      input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="user-personal">
      <%= f.input :first_name,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "Prénom" } %>
      <%= f.input :last_name,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "Nom" } %>
      <%= f.input :phone,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "Mobile" } %>
      <%= f.input :address,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "Adresse" } %>
    </div>
    </div>
    <div class="user-coach">
      <%= f.input :licence,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "Diplomes" } %>
      <%= f.input :legal,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "Méthode défiscalisation" } %>
      <%= f.input :location,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "Zone d'activité" } %>
    </div>
    <div class="user-pwd-confirmation">
      <%= f.input :current_password,
      hint: "we need your current password to confirm your changes",
      required: true,
      input_html: { autocomplete: "current-password" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Valider", class:"btn-orange" %>
  </div>
  <% end %>

  <h3>Supprimer mon compte</h3>

  <p>Insatisfait? <%= link_to "Se désinscrire", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-grey" %></p>

  <%= link_to "Retour", :back, class: "btn btn-grey"%>
</div>
