<div class="index_navbarre">
  <%= link_to root_path do %>
  <i class="fa fa-fw fa-home"></i>Accueil
  <% end %>

  <%= link_to do %>
  <i class ="a fa fa-fw fa-lightbulb"></i>Tendances
  <% end %>

  <%= link_to do %>
  <i class ="a fa fa-fw fa-envelope"></i>Contact
  <% end %>

  <input type="text" placeholder="Rechercher..">
  <button type="submit"><i class="fas fa-search"></i></button>

  <%= link_to destroy_user_session_path, class: "nav_register" do %>
  <i class="fa fa-fw fa-user"></i>Deconnecter
  <% end %>

  <%= link_to new_user_session_path, class: "nav_register" do %>
  <i class="fa fa-user-plus"></i>Login
  <% end %>
</div>
