<div class="index_navbarre">
  <%= link_to "Home" do %>
  <i class="fa fa-fw fa-home"></i>
  <%= image_tag "" %>
  <% end %>


<%= link_to '<i class="fa fa-fw fa-lightbulb"></i><button type="button">Tendances</button>'.html_safe %>
<%= link_to '<i class="fa fa-fw fa-envelope"></i><button type="button">Contact</button>'.html_safe %>


  <%= link_to "Search" do %>
  <input type="text" placeholder="Rechercher..">
  <i class="fas fa-search"></i>
  <% end %>

  <%= link_to '<i class="fa fa-fw fa-user"></i><button type="button" class: "btn-grey nav_register">Se connecter</button>'.html_safe %>
  <%= link_to '<i class="fa fa-fw fa-user"></i><button type="button" class: "btn-grey nav_register">Inscription</button>'.html_safe %>
</div>
