

<div class="background">
  <div class="content-home">
    <!-- BEGIN BIG SEARCH BAR -->
    <div class="headline">
      <div class="headline-infos">
        <h1>Coach Me</h1>
        <h3>Le sport sans les porcs</h3>
      </div>
      <div class="home-searchbar">
        <%= form_tag coach_activities_path, class: "barsearch", method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control search-input", placeholder:"Coach, spécialité..."%>
        <%= button_tag "Rechercher", class: "btn-yellow" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="tendances">
  <div class="tendances-header">
    <p>Voir les dernières tendances <%= image_tag "right.png", :class => "arrow" %></p>
  </div>

  <div class="cards-home">
    <a href="/coach_activities?query=yoga&button=">
      <div class="card-home">
        <%= cl_image_tag "https://res.cloudinary.com/dw22pxuaw/image/upload/v1591348098/Home%20Coach%20Me/wesley-tingey-dlxNvA7pVwU-unsplash_vpam7x.jpg", id: "card-image-home" %>
        <div class="card-home-infos">
          <h2>Yoga</h2>
        </div>
      </div>
    </a>
    <a href="/coach_activities?query=escalade&button=">
      <div class="card-home">
        <%= cl_image_tag "https://res.cloudinary.com/dw22pxuaw/image/upload/v1591348085/Home%20Coach%20Me/x-N4QTBfNQ8Nk-unsplash_ipjbit.jpg", id: "card-image-home" %>
        <div class="card-home-infos">
          <h2>Escalade</h2>
        </div>
      </div>
    </a>
    <a href="/coach_activities?query=basketball&button=">
      <div class="card-home">
        <%= cl_image_tag "https://res.cloudinary.com/dw22pxuaw/image/upload/v1591348080/Home%20Coach%20Me/malcolm-lightbody-jW2CpfyQo7o-unsplash_xrsqln.jpg", id: "card-image-home" %>
        <div class="card-home-infos">
          <h2>Basketball</h2>
        </div>
      </div>
    </a>
    <a href="/coach_activities?query=boxe&button=">
      <div class="card-home">
        <%= cl_image_tag "https://res.cloudinary.com/dw22pxuaw/image/upload/v1591348077/Home%20Coach%20Me/jose-aljovin-op2UhOH0sIc-unsplash_b2kg0s.jpg", id: "card-image-home" %>
        <div class="card-home-infos">
          <h2>Boxe</h2>
        </div>
      </div>
    </a>
    <a href="/coach_activities?query=tiralarc&button=">
      <div class="card-home">
        <%= cl_image_tag "https://res.cloudinary.com/dw22pxuaw/image/upload/v1591348084/Home%20Coach%20Me/annie-spratt-jY9mXvA15W0-unsplash_pekmzo.jpg", id: "card-image-home" %>
        <div class="card-home-infos">
          <h2>Tir à l'arc</h2>
        </div>
      </div>
    </a>
    <a href="/coach_activities?query=yoga&button=">
      <div class="card-home">
        <%= cl_image_tag "https://res.cloudinary.com/dw22pxuaw/image/upload/v1591348084/Home%20Coach%20Me/patrick-kool-zTwmxau8DlQ-unsplash_zktyao.jpg", id: "card-image-home" %>
        <div class="card-home-infos">
          <h2>Yoga</h2>
        </div>
      </div>
    </a>
    <a href="/coach_activities?query=crossfit&button=">
      <div class="card-home">
        <%= cl_image_tag "https://res.cloudinary.com/dw22pxuaw/image/upload/v1591348076/Home%20Coach%20Me/damir-spanic-22L7do1cOho-unsplash_d0fehr.jpg", id: "card-image-home" %>
        <div class="card-home-infos">
          <h2>Crossfit</h2>
        </div>
      </div>
    </a>
  </div>
</div>




<div class="arguments">
  <div class="arg-1">
    <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
    <p class="mb-3 title-arg">Les meilleurs coachs</p>
    <p class="text-center title-arg-light">Le meilleur de nos coachs directement chez vous.</p>
  </div>
  <div class="arg-1">
    <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
    <p class="mb-3 title-arg">Meilleur prix garanti</p>
    <p class="text-center title-arg-light">Nous nous évertuons à vous proposer les meilleurs prix.</p>
  </div>
  <div class="arg-1">
    <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
    <p class="mb-3 title-arg">Coaching sur mesures</p>
    <p class="text-center title-arg-light">C'est vous qui personnalisez votre cours selon vos besoins.</p>
  </div>
</div>


