<div class="background">
  <div class="content-home">
    <!-- BEGIN BIG SEARCH BAR -->
    <div class="headline">
      <div class="headline-infos">
        <h1>Coach Me</h1>
        <h3>Le sport sans les porcs</h3>
      </div>
      <div class="home-searchbar">
        <%= form_tag coach_activities_path, class: "barsearch", method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control search-input", placeholder:"Coach, spécialité..."%>
        <%= button_tag "Rechercher", class: "btn-yellow" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="tendances">
  <div class="tendances-header">
    <p>Voir les dernières tendances <%= image_tag "right.png", :class => "arrow" %></p>
  </div>

  <div class="cards-home">
    <% @coach_activities.first(10).each do |coach_activity| %>
    <%= link_to coach_activity_path(coach_activity) do %>
    <div class="card-home">
      <%= cl_image_tag coach_activity.user.photo.key, id: "card-image-home" %>
      <div class="card-home-infos">
        <h2><%= coach_activity.activity.name %></h2>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>


  <div class="arguments">
    <div class="arg-1">
      <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
      <p class="mb-3 title-arg">Les meilleurs coachs</p>
      <p class="text-center title-arg-light">Le meilleur de nos coachs directement chez vous.</p>
    </div>
    <div class="arg-1">
      <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
      <p class="mb-3 title-arg">Meilleur prix garanti</p>
      <p class="text-center title-arg-light">Nous nous évertuons à vous proposer les meilleurs prix.</p>
    </div>
    <div class="arg-1">
      <%= image_tag "check.svg", alt: "alttext", :class => "check" %>
      <p class="mb-3 title-arg">Coaching sur mesures</p>
      <p class="text-center title-arg-light">C'est vous qui personnalisez votre cours selon vos besoins.</p>
    </div>
  </div>


