<script>
 function disableSubmit() {
  document.getElementById("btn-payment").disabled = true;
}

function activateButton(element) {

  if(element.checked) {
    document.getElementById("btn-payment").disabled = false;
  }
  else  {
    document.getElementById("btn-payment").disabled = true;
  }

}
</script>

<div class="container payment-container">
  <div class="payment-top d-flex">
    <div class="payment-pp_coach">
      <%= cl_image_tag @booking.coach.photo.key, height: 150, width: 150, gravity: :face, name: "card-avatar-coach", id: "coach_avatar" %>
    </div>
    <div class="payment-top-title">
      <h2>Récapitulatif commande avec <%= @booking.coach.first_name %></h2>
    </div>
  </div>

  <div class="payment-order">
    <div class="card mb-3 payment-order-top">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Résumé :</h5>
            <ul class="order-details">
              <br>
              <li> Date : <%= @booking.date_time %> </li>
              <li> Location :</li>
              <li> Participants : <%= @booking.participant_number %> </li>
              <br>
              <li>Sous-Total : <%= @booking.sum_price %> €</li>
              <li>Déduction : <%= @booking.sum_price %> €</li>
              <br>
              <li>Prix à Payer : <%= @booking.sum_price %> €</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <%= cl_image_tag "https://res.cloudinary.com/dw22pxuaw/image/upload/v1591348098/Home%20Coach%20Me/wesley-tingey-dlxNvA7pVwU-unsplash_vpam7x.jpg", class:"bd-placeholder-img", width:"100%", height:"100%" %>
          <title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/>
        </div>
      </div>
    </div>
    <div class="order-price-payment">
      <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
      <% end %>
      <%= button_to "PROCEDER AU PAIEMENT", checkout_create_path, method: :post, params: {id: @booking.id}, remote: true, id:"btn-payment" %>
    </div>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            }

        }).render('#paypal-button-container');
    </script>
  </div>
  <br>
  <br>
  <div class="payment-disclaimer">
    <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  J'acceptes les termes & Conditions
    <br>
    <br>
    <p>En cliquant sur sur "J'acceptes" vous reconnaissez être en accord avec les termes et conditions d'utilisation de l'application CoachMe : à savoir que nous ne pourrons être tenu responsable d'aucune façon si cela part en cacahuète. Signé "La fine équipe".</p>
  </div>
</div>
