<div class="container">
  <div class="new_message">
    <%= simple_form_for [@room, Message.new] do |f| %>
      <%= f.input :content %>
      <%= f.submit %>
    <% end %>
  </div>
  <div id="messages" data-room-id="<%= @room.id %>">
    <% @room.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.email %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

