
<% title 'Chat' %>
<% description 'Chatting page.' %>
<% keywords 'Chat, Chatting, Messages' %>
<% nofollow %>
<% noindex %>

<div class="dash flex-column dash-pills col-md-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="dash-link active top" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mes Activités</a>
  <a class="dash-link middle" id="v-my-bookings-tab" data-toggle="pill" href="#v-my-bookings" role="tab" aria-controls="v-my-bookings" aria-selected="false">Discuter avec mes coachs</a>
  <a class="dash-link bottom" id="v-my-deals-tab" data-toggle="pill" href="#v-my-deals" role="tab" aria-controls="v-my-deals" aria-selected="false">Votre Compte</a>
</div>

<div class="container-room">
  <div class="chat">
    <div id="messages" data-room-id="<%= @room.id %>">
      <% @room.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <div class="div-avatar-chat">
          <%= cl_image_tag current_user.photo.key, height: 40, width: 40, id: "chat-avatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        </div>
        <p><%= message.content %></p>
        <i class="author">
          <span><%= message.user.email %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
      </div>
      <% end %>
    </div>
    <div class="new_message">
      <%= simple_form_for [@room, Message.new], remote: true do |f| %>
      <%= f.input :content, :as => :text, :wrapper_html => { class: "input-text" }, label: false, placeholder: "Que souhaitez-vous demander au coach ?"%>
      <%= f.submit class: "input-btn" %>
      <% end %>
    </div>
  </div>
</div>
