<% coach_activities.each do |coach_activity| %>
<% @bookings = Booking.where(coach_activity_id: coach_activity.id) %>
<%= link_to coach_activity_path(coach_activity) do %>
<div class="card-product" data-user-id="<%= coach_activity.user.id %>">
  <%= cl_image_tag coach_activity.user.photo.key, id: "activity_avatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="card-product-infos">
    <h2><%= coach_activity.user.first_name %></h2>
    <p class="details" style="font-size:20px" > Notes: <%= rating_star(@bookings) %> </p>
  </div>
  <div class="card-price">
    <h3><%= coach_activity.price.round %>€/h</h3>
  </div>
</div>
<% end %>
<% end %>
