<div class="container-wrapper d-flex"> <!-- mt-2 -->
  <div class="list-coaches">
    <div class="home-searchbar">
      <%= form_tag coach_activities_path, class: "barsearch", method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control search-input", placeholder:"Coach, spécialité..."%>
      <%= button_tag "Rechercher", class: "btn-yellow" %>
      <% end %>
    </div>

    <div class="filter-search row">
      <div id="price" class="filter-btn" filter-name="price">
        <span class="title">
          <%= link_to "Tarifs", coach_activities_path(params:{query: params[:query], order: "price"}) %>
        </span>
      </div>
      <div id="gender" class="filter-btn" filter-name="gender">
        <span class="title"> Genre </span>
      </div>
      <div id="rating" class="filter-btn active" filter-name="rating">
        <span class="title">
          <%= link_to "Notes", coach_activities_path(params:{query: params[:query], order: "price"}) %>
        </span>
      </div>
    </div>
    <div class="search-count">
      <h3 class="result-count"> <%= @coach_activities.count %> coach trouvés </h3>
    </div>
    <div class="cards-product">
      <% @coach_activities.each do |coach_activity| %>
      <% @bookings = Booking.where(coach_activity_id: coach_activity.id) %>
      <%= link_to coach_activity_path(coach_activity) do %>
      <div class="card-product" data-user-id="<%= coach_activity.user.id %>">
        <%= cl_image_tag coach_activity.user.photo.key, id: "activity_avatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="card-product-infos">
          <h2><%= coach_activity.user.first_name %></h2>
          <p class="details" style="font-size:20px" > Notes: <%= rating_star(@bookings) %> </p>
        </div>
        <div class="card-price">
          <h3><%= coach_activity.price.round %>€/h</h3>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div id="map" class="position-sticky vh-65" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
