<% title 'Recherche' %>
<% description 'Search page.' %>
<% keywords 'Search, Recherche, Find' %>
<% nofollow %>
<% noindex %>

<div class="container-wrapper d-flex"> <!-- mt-2 -->
  <div class="list-coaches">
    <div class="home-searchbar">
      <%= form_tag coach_activities_path, class: "barsearch", method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control search-input", placeholder:"Coach, spécialité..."%>
      <%= button_tag "Rechercher", class: "btn-yellow" %>
      <% end %>
    </div>

    <div class="filter-search row">
      <%= link_to "Tarifs", coach_activities_path(params:{query: params[:query], order: "price"}), class: "filter-btn", remote: true %>
      <%= link_to "Notes", coach_activities_path(params:{query: params[:query], order: "price"}), class: "filter-btn" %>
    </div>
    <div class="search-count">
      <h3 class="result-count"> <%= @coach_activities.count %> coach trouvés </h3>
    </div>
    <div class="cards-product">
      <%= render"list_coach", coach_activities: @coach_activities %>
    </div>
  </div>
  <div id="map" class="position-sticky vh-65" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
