<div class="container">
  <div class="cold-12 search-coach">
    <input class="search-coch-int" type="text" placeholder= "Ajustez votre recherche...">
  </div>
  <div class="filter-search">
  </div>
  <div class="row">
    <div class="col-8">
      <% @coach_activities.each do |coach_activity| %>
      <%= link_to coach_activity_path(coach_activity) do %>
      <div class="card-product">
        <%= cl_image_tag coach_activity.user.photo.key %>
        <div class="card-product-infos">
          <h2><%= coach_activity.user.first_name %></h2>
          <ul>
            <li><%= coach_activity.price %>€ de l'heure</li>
            <li>Diplome :<%= coach_activity.user.licence %></li>
            <li><%= coach_activity.user.address %></li>
          </ul>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div id="map"
      class="position-sticky vh-100 col-4"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
