<h3> <%= @coach_activity.activity.name %> </h3>

<p> <%= @coach_activity.activity.category %> </p>
<p> <%= @coach_activity.activity.description %> </p>
<p> <%= @coach_activity.price %> € de l'heure </p>




<%= link_to "booker ce cours", coach_activity_bookings_path  %>
