  <div class="container">
    <div>
      <p>mes autres cours: </p>
      <% @coach.coach_activities.first(3).each do |coach_activity| %>
      <% unless coach_activity == @coach_activity %>
       <%= link_to coach_activity.activity.name, coach_activity_path(coach_activity) %>
      <% end %>
      <% end %>
    </div>
    <div class="row mb-5 ">
      <div class="col-8 d-inblock vh-50">
        <div class="card-product-coach-activity">
          <div><%= cl_image_tag @coach_activity.user.photo.key, height: 250, width: 250, gravity: :face, id: "coach_avatar", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></div>
          <div class="card-product-infos">
            <h2><%= @coach_activity.user.first_name %></h2>
            <p><em><%= @coach_activity.activity.category %></em> <strong><%= @coach_activity.activity.name %></strong></p>
            <p> <span><%= @coach_activity.price.round %> € </span>de l'heure </p>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <h2> <span class="text-secondary font-weight-bold"></span></h2>
        </div>
        <div>
        </div>
      </div>

      <div class="position-sticky vh-50 col-4">
        <div class="form-wrapper ">
          <h2>Réservez un cours</h2>
          <%= simple_form_for [@coach_activity, @booking] do |f| %>
          <%= f.input  :start_time, as: :string, required: false, input_html: {class: "flatpickr"}, placeholder:"Heure de début du cours" %>
          <%= f.input  :end_time, as: :string, required: false, input_html: {class: "flatpickr"}, placeholder:"Heure de fin du cours" %>
          <%= f.input :participant_number, input_html: { min: 0, max: 5 }, placeholder:"Nombre de participants" %>
          <%= f.button :submit, "Transpirer avec #{@coach_activity.user.first_name}", class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
        <div id="booking-form-div" data-bookings="<%= @bookings_datetime.to_json %>" >
        </div>
        <p>Total : <%= @coach_activity.price.round %> €</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-8 d-block">
        <h2 class= "font-weight-bold">En quoi consiste cette activité ? </h2>
        <p> <%= @coach_activity.activity.description %> </p>
      </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9 mb-5 shadow-sm p-3 mb-5 bg-white rounded">
      <iframe width="725" height="408" src="https://www.youtube.com/embed/T8Lt8c43wVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
