<div class="container">

  <div class="card-container">


    <div class="card-activity">
      <div class="activity">
        <div class="activity-name mb-4">
          <h3>En quoi consiste cette activité ?</h3>
        </div>
        <div class="activity-descritpion">
          <p> <%= @coach_activity.activity.description %> </p>
        </div>
      </div>
    </div>

    <div class="card-coach">
      <div class="d-flex">
        <div class="info-coach">
          <div><%= cl_image_tag @coach_activity.user.photo.key, height: 218, width: 218, gravity: :face, name: "card-avatar-coach", id: "coach_avatar" %></div>
        </div>
        <div class="coach-name-rating">
          <div class="coach-name">
            <h2> <%= @coach_activity.user.first_name %> </h2>
          </div>
          <%= rating_star(@bookings) %>
        </div>
      </div>
      <div class="speciality-coach">
          <h3 >Spécialités</h3>
        <div class="row-button-specialities">
        <% @coach_activity.user.coach_activities.first(3).each do |coach_activity| %>
          <% unless coach_activity == @coach_activity %>
              <%= link_to coach_activity.activity.name, coach_activity_path(coach_activity), class: "button-specialities" %>
          <% end %>
        <% end %>
        </div>
      </div>

    </div>
    <div class="card-booking">
      <div class="card-booking-header">
        <div class="activity-name">
          <h2> <%= @coach_activity.activity.name %> </h2>
        </div>
        <div class="activity-price">
          <h1> <%= @coach_activity.price.round %> </h1> <h3>€/h</h3>
        </div>

      </div>

      <div class="form-booking" id="form-booking">
        <div class="form-wrapper">
          <%= simple_form_for [@coach_activity, @booking], url: coach_activity_bookings_path(@coach_activity), method: :post, remote: true do |f| %>
          <%= f.input  :start_time, as: :string, required: false, input_html: {class: "flatpickr"}, placeholder:"Heure de début du cours" %>
          <%= f.input  :end_time, as: :string, required: false, input_html: {class: "flatpickr"}, placeholder:"Heure de fin du cours" %>
          <%= f.input :participant_number, input_html: { min: 0, max: 5 }, placeholder:"Nombre de participants" %>
          <%= f.button :submit, "Transpirez avec #{@coach_activity.user.first_name}", class: "button-form", data: {toggle: "modal", target: "#staticBackdrop"} %>
          <% end %>
        </div>
      </div>

    </div>


  </div>
  <div class="review-map-container">
    <div class="review-count">
      <div class="row-review-count">
        <h2> <%= @coach_activity.bookings.count %>  </h2>
        <h3> commentaires </h3>
      </div>

        <% @coach_activity.bookings.each do |booking| %>
          <% if booking.reviews.empty? %>
            <h3> Soyez le premier à commenter cette activité ! </h3>
          <% end  %>
        <% booking.reviews.each do |review|  %>
          <div class="reviews">
            <div class="review-header">
              <p> <%= review.booking.user.first_name %> </p>
              <div class="coach-rating">
                <% review.rating.to_i.times do  %>
                  <%= image_tag "dumbell.svg" %>
                <% end %>
                <% less = 5 - review.rating.to_i  %>
                <% less.times do  %>
                  <%= image_tag "dumbell_white.svg" %>
                <% end %>
              </div>
            </div>
            <div class="review-content">
              <p> <%= review.content %> </p>
            </div>
              <% end %>
              <% end %>
          </div>

    </div>

    <div class="map">

    </div>
  </div>


</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span type="button" class="button-close" data-dismiss="modal" aria-label="Close">X</span>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="button-specialities" data-dismiss="modal">Annuler</button>
        <button type="button" class="button-specialities">Modifier</button>
        <button type="button" class="button-specialities">Voir dans mon Dashboard</button>
      </div>
    </div>
  </div>
</div>
