<div class= "container">
  <!-- Coach View -->
  <% if current_user.coach? %>
    <div class="row">
      <% @coach_activities.each do |coach_activity| %>
        <div>
          <p> <%= "#{coach_activity.activity.name} du #{coach_activity.start_date} au #{coach_activity.end_date}. Prix : #{coach_activity.price} €" %> </p>
          <%= link_to "voir ce cours", coach_activity_path(coach_activity) %>
        </div>
        <% coach_activity.bookings.each do |booking| %>
        <div class="booking-container-<%= booking.id %>">
          <%= render "bookings/infos", coach_activity: coach_activity, booking: booking %>
        </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to "créez votre cours", new_coach_activity_path  %>
    </div>
  <% end %>

      <!-- User View -->
  <% if current_user.coach? == false %>
    <% @bookings.each do |booking| %>
      <div>
        <p> <%= "#{booking.coach_activity.activity.name} le #{booking.start_time} avec #{booking.coach.first_name} || Status : #{booking.status}" %> </p>
        <%= link_to "voir ce cours", coach_activity_bookings_url(booking.coach_activity, booking_id: booking.id) %>
      </div>
    <% end %>
<!--       <div>
        <#%= link_to "Add a review",  new_review_path(booking.coach_activity), class: "btn btn-primary", id: "add-button", data: { turbolinks: false } %>
      </div> -->
      <% end %>
</div>



