<% title 'Commentaire' %>
<% description 'Reviews page.' %>
<% keywords 'Review, Commentaire, Rating' %>
<% nofollow %>
<% noindex %>

<div class="dash flex-column dash-pills col-md-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="dash-link active top" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mes Activités</a>
  <a class="dash-link middle" id="v-my-bookings-tab" data-toggle="pill" href="#v-my-bookings" role="tab" aria-controls="v-my-bookings" aria-selected="false">Discuter avec mes coachs</a>
  <a class="dash-link bottom" id="v-my-deals-tab" data-toggle="pill" href="#v-my-deals" role="tab" aria-controls="v-my-deals" aria-selected="false">Votre Compte</a>
</div>

<div class="container">
  <div class="header-review">
    <div class= "profil-review">
      <%= cl_image_tag @booking.coach.photo.key, height: 218, width: 218, gravity: :face, name: "card-avatar-coach", id: "coach_avatar" %>
    </div>
    <div class="title-review">
      <h1>Évaluez :</h1> <h1 class="coach-name"> <%= @booking.coach.first_name %></h1>
    </div>
  </div>
  <div class="content">
    <div class="star-rating" style="cursor: pointer;">
      <i class="far fa-star" id="1"></i>
      <i class="far fa-star" id="2"></i>
      <i class="far fa-star" id="3"></i>
      <i class="far fa-star" id="4"></i>
      <i class="far fa-star" id="5"></i>

<!--       <img class="img-rating" id="1" src="/assets/dumbell_white.svg">
      <img class="img-rating" id="2" src="/assets/dumbell_white.svg">
      <img class="img-rating" id="3" src="/assets/dumbell_white.svg">
      <img class="img-rating" id="4" src="/assets/dumbell_white.svg">
      <img class="img-rating" id="5" src="/assets/dumbell_white.svg"> -->

<!--       <%#= image_tag "dumbell_white.svg", class: "img-rating", id: "1" %>
      <%#= image_tag "dumbell_white.svg", class: "img-rating", id: "2" %>
      <%#= image_tag "dumbell_white.svg", class: "img-rating", id: "3" %>
      <%#= image_tag "dumbell_white.svg", class: "img-rating", id: "4" %>
      <%#= image_tag "dumbell_white.svg", class: "img-rating", id: "5" %> -->

      <input name="review[rating]" type="hidden">
    </div>
    <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :rating, as: :hidden %>
    <%= f.input :content, :as => :text, :input_html => { 'rows' => 6, 'cols' => 10 }, label: "Votre avis", placeholder: "Partagez votre expérience en toute honnêteté..." %>
    <% end %>
    <%= link_to "Commenter", dashboard_path, class: "btn btn-orange", method: :get %>
  </div>
</div>

<script>
  const stars = document.querySelectorAll(".far");
  const rating_input = document.getElementById('review_rating');
  stars.forEach(star => {
    star.addEventListener("click", (event) => {
      stars.forEach(star => {
        if (parseInt(star.id,10) <= (parseInt(event.target.id,10)) ) {
          star.style.color = "orange";
        } else {
          star.style.color = "grey";
        }
        console.log(star.attributes);
      });
      rating_input.value = event.target.id;
    })
  })
</script>
